<div class="form-group {{form.htmlClass}} schema-form-select"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false, 'required': form.required, 'read-only': form.readonly }"
     nsp-t
     ng-style="{'width': form.width + '%'}">
  <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">
    {{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}
  </label>
  <select sf-field-model
          ng-model="$$value$$"
          ng-disabled="form.readonly"
          sf-changed="form"
          class="form-control {{form.fieldHtmlClass}}"
          schema-validate="form"
          ng-options="item.value as item.name group by item.group for item in form.titleMap"
          name="{{form.key.slice(-1)[0]}}">
  </select>
  <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
</div>
