.template-picker{
	.template-picker-form{
		.label{
			display: block;				
		}
		display: inline-block;
		height: 450px;
		width: 100%;
		.label{
			font-size: 13px;
			padding-bottom: 3px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.language-element{
			display: inline-block;
			float: left;
			.language-wrapper{
				.language{
					border: 1px solid #f0f0f0;
				}
				.language-title{
					background: #e3e3e3;
					padding: 6px 2px;
					cursor: pointer;
					border-bottom: 1px solid #f0f0f0;
					font-size: 14px;
					&:hover{
						.remove-lang{
							visibility: visible;
						}
					}
					.f-nsp{
						font-size: 16px;
					}
					.remove-lang{
						float: right;
						margin-right: 10px;
						visibility: hidden;					
					}
				}
				.language-template{
					padding: 16px;
					background: #ffffff;
					.editor{
						width: 100%;
						border: 1px solid #e3e3e3;
						height: 200px;
						resize: none;
						font-size: 14px;
						box-sizing: border-box;
						&:focus{
    						outline: none !important;
						}
					}
				}
				width: 400px;
				box-sizing: border-box;
				display: inline-block;
				overflow: auto;
				height: 430px;
			}
		}		
		.placeholder-element{
			display: inline-block;
			float: right;
			overflow: auto;
			overflow-x: hidden;
			height: 100%;
			width: 300px;			
			.placeholders-wrapper{
				width: inherit;
				box-sizing: border-box;
				display: inline-block;
				background: #e3e3e3;				
				.k-treeview{
					overflow: hidden;
					.k-item{
						font-size: 14px;
					}
				}
			}
		}			
	}
	.btn-group{
		position: relative;
		.lang-list{
			position: absolute;
			bottom: 60px;
			left: 0;
			background: #fff;
			z-index: 5;
			border: 1px solid #e3e3e3;
			.lang{
				font-size: 14px;
				padding: 6px;
				cursor: pointer;
				&:hover{
					background: #e3e3e3;				
				}
			}
		}
		.add-lang-definition{
			font-size: 14px;
			padding: 10px 0;
			.label{
				cursor: pointer;
			}
		}	
	}
	.italic{
		font-style: italic;
	}
}