<div ng-controller="FeTemplatePickerFormController as vm" class="template-picker" kendo-window-content>
	<div class="template-picker-form">
		<div class="language-element">
			<span class="label">{{vm.t('Templates', 'Common.Templates')}}</span>
			<div class="language-wrapper">
				<div class="language" ng-repeat="lang in vm.languages">
					<div class="language-title" ng-click="setActiveLang($index)">
					<i class="f-nsp" ng-class="{'f-nsp-angle-up': $index === vm.activeLang, 'f-nsp-angle-down': $index !== vm.activeLang}"></i>
						<span ng-class="{'italic': lang.subject === ''}">{{vm.t(lang.languageName, lang.languageNameKey)}}</span>
						<span class="default-lang" ng-if="vm.dialogData.form.currentLang === lang.languageId">({{vm.t('DefaultLang', 'Common.DefaultLanguage')}})</span>
						<span class="remove-lang" ng-if="vm.dialogData.form.currentLang !== lang.languageId" ng-click="removeLanguage($index)">{{vm.t('Remove', 'Common.Remove')}}</span>
					</div>
					<div class="language-template" ng-show="$index === vm.activeLang"><textarea class="editor" ng-model="lang.subject"></textarea></div>
				</div>
			</div>			
		</div>
		<div class="placeholder-element">
			<span class="label">{{vm.t('Placeholders', 'Common.Placeholders')}}</span>
			<div class="placeholders-wrapper">
				<div class="placeholders-treeview" kendo-tree-view="tree" k-options="treeOptions" k-on-change="selectTreeViewItem(kendoEvent)"></div>
			</div>	
		</div>			
	</div>
	<div class="btn-group form-engine">
		<div class="lang-list" ng-if="vm.langListOpened">
			<div class="lang" ng-repeat="langDef in vm.langDefinitionList" ng-click="addLanguageDefinition(langDef)">{{vm.t(langDef.languageName, langDef.languageNameKey)}}</div>
		</div>
		<div class="add-lang-definition" ng-click="openLanguageList()"><span class="label">{{vm.t('AddLangDefinition', 'Common.AddLanguageDefinition')}}</span></div>
		<button class="btn btn-default" ng-click="saveTemplateForm()">{{vm.t('Save', 'Common.Save')}}</button>
		<button class="btn btn-default" ng-click="cancel()">{{vm.t('Cancel', 'Common.Cancel')}}</button>
	</div>	
</div>