<div class="template-picker">
	<div class="input-group">
		<div class="kendo-input">
			<div class="inner" title="{{viewVal}}">
				<input type="text" ng-disabled="true" class="form-control" ng-model="viewVal">
			</div>
		</div>
		<div class="schema-form-btn add-btn">
			<div class="btn btn-default f-nsp f-nsp-plus" ng-click="openPicker()"></div>
		</div>
	</div>
</div>