/**
 * Accordion
 */
.schema-form-accordion {
  padding: 0;
  display: block;
  background: #fcfcfc;
  border: 1px solid #f0f0f0;
  margin: 2px 10px 20px;
  > h3 {
    margin: 0;
    @include no-user-select;
    .accordion-title {
      margin: 0;
      padding: 4px 10px 4px 0;
      font-size: 15px;
      font-weight: normal;
      color: #A3A3A3;
      border-bottom: 1px solid #f0f0f0;
      background: #F5F5F5;
      cursor: pointer;
      position: relative;
      width: 100%;
      @include no-user-select;
      .k-icon {
        z-index: 1;
        background-position: 0 -258px;
      }
      .f-nsp {
        margin:  0 0 0 5px;
        position: relative;
        top: -1px;
      }
    }
  }
  .accordion-content {
    padding: 15px 10px;
  }
  &.collapsed {
    .accordion-content {
      display: none;
    }
    .k-icon {
      background-position: 0 -32px;
    }
  }
  > .help-block {
    margin-bottom: 5px;
    padding: 5px 30px;
  }
}
