<div ng-click="toggle($event)" class="accordion-title" nsp-t>
    <span class="f-nsp" ng-class="{'f-nsp-angle-up': !settings.collapsed, 'f-nsp-angle-down': settings.collapsed}"></span>
    <span>{{settings.isTranslatedLabels ? settings.title : t(settings.title, settings.titleKey)}}</span>
</div>
