<fieldset ng-disabled="form.readonly" class="schema-form-accordion {{form.htmlClass}}" ng-class="{'collapsed': form.collapsed}" nsp-t>
    <h3 accordion-header options="form"></h3>
    <div class="help-block" ng-show="form.description" ng-bind-html="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
    <div class="accordion-content">
        <sf-decorator ng-repeat="item in form.items" form="item" class="sf-decorator-item"></sf-decorator>
    </div>
</fieldset>