<div class="form-group checkbox schema-form-checkbox {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess(), 'required': form.required, 'read-only': form.readonly }"
     ng-style="{'width': form.width + '%'}"
     nsp-t>
  <label class="{{form.labelHtmlClass}}">
    <input type="checkbox"
           sf-changed="form"
           ng-disabled="form.readonly"
           sf-field-model
           ng-model="$$value$$"
           schema-validate="form"
           class="{{form.fieldHtmlClass}}"
           name="{{form.key.slice(-1)[0]}}">
    <span ng-bind-html="form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)"></span>
  </label>
  <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
</div>
