<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Engine</title>
    <link id="favicon" rel="shortcut icon" href="favicon.png" type="image/png" />

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/nsp-kendo-ui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="bower_components/nsp-kendo-ui/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="bower_components/nsp-kendo-ui/styles/kendo.metro.green.min.css" />
    <link rel="stylesheet" href="bower_components/nsp-kendo-ui/styles/kendo.dataviz.metro.green.min.css" />
    <link rel="stylesheet" href="bower_components/nsp-core-components/dist/css/main.css" />
    <link rel="stylesheet" href="bower_components/nsp-font-icons/dist/css/nsp-font-icons.css" />
    <!-- endbower -->

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="dist/css/web.css">

    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/nsp-kendo-ui/kendo.all.min.js"></script>
    <script src="bower_components/nsp-kendo-ui/kendo.angular.min.js"></script>
    <script src="bower_components/nsp-kendo-ui/kendo.aspnetmvc.min.js"></script>
    <script src="bower_components/tv4/tv4.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/nsp-core-components/src/nsp-core.module.js"></script>
    <script src="bower_components/nsp-core-components/src/nsp-core.service.js"></script>
    <script src="bower_components/nsp-core-components/src/nsp-core.templates.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-comments.service.js"></script>
    <script src="bower_components/nsp-core-components/src/components/entity-properties/web/entity-properties.service.js"></script>
    <script src="bower_components/nsp-core-components/src/components/kendo-window/kendo-window.service.js"></script>
    <script src="bower_components/nsp-core-components/src/components/nsp-grid/nsp-grid.service.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-comments-attachment-list.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-comments-form.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-comments-list.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-comments-timer.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/entity-properties/web/entity-properties.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/kendo-window/delete-window.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/kendo-window/kendo-window-content.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/notification/notification.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/nsp-grid/nsp-grid.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/text-pane-popup-images/text-pane-popup-images.directive.js"></script>
    <script src="bower_components/nsp-core-components/src/components/comments/nsp-send-email-comment.controller.js"></script>
    <script src="bower_components/nsp-core-components/src/components/entity-properties/web/entity-property-popup.controller.js"></script>
    <!-- endbower -->

    <script src="vendor/nsp-translate/Translate.js"></script>
    <script src="vendor/nsp-translate/TranslationObjectData_1.js"></script>
    <script src="vendor/jquery.filedrop.js"></script>

    <!-- include: "type": "js", "files": "<%= concat.app.src %>" -->
    <script src="src/form-engine.module.js"></script>
    <script src="src/form-engine.service.js"></script>
    <script src="src/form-engine.templates.js"></script>
    <script src="src/components/web/sf-error-message.service.js"></script>
    <script src="src/components/web/accordion/accordion-header.directive.js"></script>
    <script src="src/components/web/help/fe-trust-as-html.directive.js"></script>
    <script src="src/components/web/kendo-combo-box/fe-kendo-combo-box.directive.js"></script>
    <script src="src/components/web/kendo-date-time-picker/fe-kendo-date-time-picker.directive.js"></script>
    <script src="src/components/web/kendo-drop-down-list/fe-kendo-drop-down-list.directive.js"></script>
    <script src="src/components/web/kendo-editor/fe-kendo-editor.directive.js"></script>
    <script src="src/components/web/kendo-image-upload/fe-kendo-image-upload.directive.js"></script>
    <script src="src/components/web/kendo-multi-select/fe-kendo-multi-select.directive.js"></script>
    <script src="src/components/web/kendo-numeric-text-box/fe-kendo-numeric-text-box.directive.js"></script>
    <script src="src/components/web/template-picker/fe-template-picker.directive.js"></script>
    <script src="src/components/web/ticket-description/fe-ticket-description.directive.js"></script>
    <script src="src/components/mobile/mobile.decorator.js"></script>
    <script src="src/components/web/web.decorator.js"></script>
    <script src="src/components/web/browse-windows/users/fe-browse-users.controller.js"></script>
    <script src="src/components/web/template-picker/fe-template-picker-form.controller.js"></script>
    <!-- /include -->

    <!-- include: "type": "js", "files": "<%= concat.examples.src %>" -->
    <script src="src/app.module.js"></script>
    <script src="examples/demo-form/demo.module.js"></script>
    <script src="examples/demo-form/demo.routes.js"></script>
    <script src="examples/ci-form/ci-form.controller.js"></script>
    <script src="examples/demo-form/demo-form.controller.js"></script>
    <!-- /include -->

    <script src="vendor/nsp-translate/translate.directive.js"></script>

</head>
<body ng-app="mainApp">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="app.home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.demo">Demo</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ci">CI</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div ui-view></div>
    </div>


    <footer>
        <div class="container">
            <p>&copy; 2016 Nilex AB</p>
        </div>
    </footer>

</body>
</html>