<div class="form-group schema-form-radiobuttons {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess(), 'required': form.required, 'read-only': form.readonly }"
     ng-model="$$value$$"
     ng-style="{'width': form.width + '%'}"
     nsp-t>
  <div>
    <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">{{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}</label>
  </div>
  <div class="btn-group">
    <label sf-field-model="replaceAll" class="btn {{ (item.value === $$value$$) ? form.style.selected || 'btn-default' : form.style.unselected || 'btn-default'; }}"
           ng-class="{ active: item.value === $$value$$ }"
           ng-repeat="item in form.titleMap">
      <input type="radio"
             class="{{form.fieldHtmlClass}}"
             sf-changed="form"
             style="display: none;"
             ng-disabled="form.readonly"
             sf-field-model
             ng-model="$$value$$"
             schema-validate="form"
             ng-value="item.value"
             name="{{form.key.join('.')}}">
      <span ng-bind-html="form.isTranslatedLabels ? item.title : t(item.title, item.titleKey)"></span>
    </label>
  </div>
  <div class="help-block" sf-message="form.isTranslatedLabels ? form.descriptions : t(form.description, form.descriptionKey)"></div>
</div>
