.schema-form-kendo-multi-select {
    @include border-box;
    font-size: 14px;
    .k-multiselect {
        border: 0;
        box-shadow: none !important;
    }
    .k-multiselect-wrap {
        padding: 1px 0 0 1px;
        min-height: 30px;
        border: 1px solid #dadada;
        border-radius: 0 !important;
        .k-input {
            padding: 2px 0;
            margin: 2px 0 2px 2px;
            height: 22px;
            line-height: 1;
            &:focus {
                box-shadow: 0 0 3px #ffa500;
            }
        }
        li {
            padding: 4px 20px 4px 6px;
            line-height: 1;
            display: inline-block;
            vertical-align: top;
            > span {
                vertical-align: top;
            }
        }
        .k-select {
            padding: 3px 1px 0 0;
            text-align: center;
            .k-icon {
                vertical-align: top;
            }
        }
    }
}