.schema-form-kendo-combo-box,
.schema-form-kendo-auto-complete {
    width: 100%;
    .k-dropdown-wrap {
        background: none !important;
        outline: 0;
        border: 0 !important;
        padding: 0;
    }
    .kendo-input {
        display: table-cell;
        vertical-align: top;
        width: auto;
        .inner {
            position: relative;
        }
        .form-control {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        input.form-control {
            padding-right: 55px;
        }
    }
    &.has-browse {
        @include clearfix;
        > label {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }
    }
    .clear-button {
        display: block;
        position: absolute;
        top: 5px;
        right: 30px;
        z-index: 1;
        line-height: 1;
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;
        i {
            margin-top: 2px;
            display: inline-block;
            vertical-align: top;
        }
    }
    &.read-only {
        .clear-button,
        .browse-btn {
            display: none !important;
        }
    }
    .k-select {
        border: 0;
    }
}

.schema-form-kendo-auto-complete {
    .kendo-input {
        input.form-control {
            padding-right: 30px;
        }
    }
    .k-dropdown-wrap {
        padding-right: 0;
        > .k-select {
            display: none;
        }
    }
    .clear-button {
        right: 5px;
    }
}
