<div class="input-group">
    <div class="kendo-input">
        <div class="inner">
            <input type="text"
                step="any"
                id="{{settings.key.slice(-1)[0]}}"
                name="{{settings.key.slice(-1)[0]}}"
                class="form-control {{settings.fieldHtmlClass}}"
                ng-disabled="settings.readonly"
                kendo-combo-box="widget"
                k-options="settings.kendoOptions"
                k-rebind="settings.kendoOptions"
                k-ng-model="widgetModel"
                aria-describedby="{{settings.key.slice(-1)[0] + 'Status'}}"/>
            <span class="clear-button" ng-click="clearHandler(true)" ng-show="clearButton">
                <i class="k-icon k-i-close"></i>
            </span>
        </div>
    </div>

    <div ng-if="settings.browse" class="schema-form-btn browse-btn">
        <div class="btn btn-default f-nsp f-nsp-search" ng-click="browseWindow()" title="{{settings.isTranslatedLabels ? settings.browse.caption : t(settings.browse.caption, settings.browse.captionKey)}}"></div>
    </div>

</div>