<div ng-controller="FeBrowseUsersController as vm" kendo-window-content class="browse-window">
    <div nsp-grid options="vm.grid"></div>
    <div class="form-actions">
        <input type="submit" value="{{vm.t('Save', 'Save')}}" ng-disabled="!vm.selectedRow" class="btn btn-default" ng-click="vm.select()">
        <button class="btn btn-default" ng-click="vm.cancel()">{{vm.t('Cancel', 'Cancel')}}</button>
    </div>
</div>