<div class="browse-user-row">
    <div class="user-details">
        <h3>{{dataItem.name}}</h3>
        <p>{{dataItem.mail}}</p>
    </div>
    <div class="user-image" ng-class="{'default-image' : !dataItem.imageUrl}">
        <div ng-if="dataItem.imageUrl">
            <img ng-src="{{dataItem.imageUrl}}" alt="User image">
        </div>
    </div>
</div>