<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false, 'required': form.required }"
     ng-style="{'width': form.width + '%'}"
     nsp-t>
    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">
      {{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}{{form.titleSuffix}}
    </label>

    <div fe-kendo-numeric-text-box
         fe-options="form"
         fe-ng-model="ngModel"
         ng-model="$$value$$"
         ng-show="form.key"
         sf-changed="form"
         data-name="{{form.key.slice(-1)[0]}}"
         schema-validate="form"></div>

    <span ng-if="form.feedback !== false"
          class="form-control-feedback"
          ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': hasSuccess(), 'glyphicon-remove': hasError() }"
          aria-hidden="true"></span>

    <span ng-if="hasError() || hasSuccess()"
          id="{{form.key.slice(-1)[0] + 'Status'}}"
          class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

    <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
</div>
