@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin border-box() {
  &,
  & *,
  & *:after,
  & *:before {
    box-sizing: border-box;
  }
}

@mixin breakpoint-below($breakpoint) {
  @media all and (max-width: $breakpoint + px) { @content; }
}

@mixin breakpoint-above($breakpoint) {
  @media all and (min-width: $breakpoint + px) { @content; }
}

@mixin no-user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

@mixin text-overflow() {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

/**
 * Form Engine
 */

.form-engine {
    display: block;
    font-family: "Segoe UI", Verdana, Helvetica, sans-serif;
    line-height: 1.2;
    // [form*="schemaForm.form"],
    // .sf-decorator-item {
    //     display: inline-block;
    //     vertical-align: top;
    // }
    .form-group {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0px 10px;
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
        &.readonly,
        &.read-only {
            opacity: 0.7;
            input.form-control,
            textarea.form-control {
                &:hover {
                    border-color: #E7E7E7;
                }
            }
        }
    }
    .form-group > label,
    .form-group .control-label {
        display: block;
        font-size: 13px;
        color: #787878;
        padding-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        &:hover {
            background: none;
        }
    }
    .form-group.required > label:after {
        content: " *"
    }
    label {
        &:hover,
        &:active {
            background: none !important;
        }
    }
    input.form-control,
    textarea.form-control {
        display: block;
        background: #fff;
        border: 1px solid #dadada;
        height: 30px;
        padding: 0 7px 1px;
        font-size: 14px;
        outline: 0;
        line-height: normal;
        width: 100% !important;
        text-indent: 0;
        &:hover {
            border-color: #E7E7E7;
        }
        &:focus {
            box-shadow: 0 0 3px #ffa500;
        }
        &.hidden {
            display: none;
        }
    }
    .has-error {
      .form-control {
        border-color: #ff4136 !important;
      }
      .help-block {
        color: #ff4136;
      }
    }
    .help-block {
        line-height: 1.3;
        display: block;
        font-size: 12px;
        color: #B5B5B5;
        clear: both;
        min-height: 16px;
        word-wrap: break-word;
    }
    .form-control-feedback {
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      height: 10px;
      background: #000;
      display: none;
    }
    .sr-only {
      display: none;
    }
    textarea.form-control {
      padding: 4px;
      min-height: 120px;
    }

    // Checkbox
    input[type="checkbox"] {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        height: auto;
    }
    .checkbox > label {
        display: block;
        font-size: 13px;
        color: #000;
        padding-bottom: 3px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        &:hover {
            background: none;
        }
    }

    // Radios
    input[type="radio"] {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
    }
    .radio > label {
        display: block;
        font-size: 13px;
        color: #000;
        padding-bottom: 3px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        &:hover {
            background: none;
        }
    }

    // Select
    select {
        font-size: 13px;
    }

    // Help value
    .helpvalue {
        font-size: 14px;
        margin-bottom: 16px;
    }

    // Buttons
    .btn {
        color: #787878;
        background-color: #fff;
        border: 1px solid #dadada;
        padding: 7px 15px 9px;
        line-height: 1;
        outline: 0;
        font-size: 13px;
        &:hover {
            background: #f2f2f2;
        }
    }

    .schema-form-submit {
        margin-bottom: 18px;
    }

    .schema-form-actions {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        .btn {
            margin-right: 15px;
            float: left;
            display: block;
            border-radius: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .schema-form-btn {
      display: table-cell;
      vertical-align: top;
      width: 20px;
      padding-left: 6px;
      .btn {
        color: #787878;
        text-decoration: none;
        background: #dadada;
        border-radius: 4px;
        padding: 2px 0;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 1;
        margin-top: 5px;
        &:before {
          margin-top: 2px;
          line-height: 1;
          display: block;
        }
      }
    }

    .input-group {
      display: table;
      width: 100%;
      > .form-control {
        display: table-cell;
        vertical-align: top;
        width: auto;
      }
    }

    // Kendo Reset
    .form-group .k-select {
        border: none;
    }
    .form-control {
        .k-state-focused {
            background: none !important;
        }
        &.k-widget {
            border: 0;
            background: none;
            border-right: 0;
            padding: 0;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .form-control.k-input,
    .form-group .k-widget {
      border-radius: 0 !important;
    }
    .form-group .k-widget .k-button {
      border-radius: 0 !important;
    }
    .has-error {
      .k-dropdown-wrap,
      .k-formatted-value,
      .k-multiselect-wrap {
        border-color: #ff4136 !important;
      }
      .help-block {
        color: #ff4136;
      }
    }

    .k-picker-wrap .k-select,
    .k-numeric-wrap .k-select,
    .k-dropdown-wrap .k-select {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        line-height: 28px;
    }

    .k-combobox .k-dropdown-wrap:before,
    .k-picker-wrap:before,
    .k-numeric-wrap:before {
        display: none;
    }
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    font-size: 0.85em !important;
}