<div class="upload-container">
    <div class="image-container">
        <i class="icon f-nsp f-nsp-plus" ng-if="!uploading && !selectedImage.preview"></i>
        <span class="update-image" ng-if="selectedImage && selectedImage.preview">{{t('Change image', 'Common.ChangeImage')}}</span>
        <img ng-if="selectedImage && selectedImage.preview" ng-src="{{selectedImage.preview}}"/>
        <span class="spinner" ng-if="uploading"></span>
        <input type="file"
            id="{{settings.key.slice(-1)[0]}}"
            name="{{settings.key.slice(-1)[0]}}"
            ng-disabled="settings.readonly"
            kendo-upload="widget"
            k-options="settings.kendoOptions"
            k-rebind="settings.kendoOptions"
            title="&nbsp;"
            aria-describedby="{{settings.key.slice(-1)[0] + 'Status'}}"/>
    </div>
    <div class="image-info">
        <div class="file-name" title="{{selectedImage.name}}">{{selectedImage.name}}</div>
        <div class="remove" ng-if="selectedImage">
            <button type="button"
                    class="remove-btn"
                    ng-click="remove()">
                {{t('Remove', 'Common.Remove')}}
            </button>
        </div>
    </div>
</div>