.schema-form-kendo-editor {
    .k-editor {
        border: 0 !important;
        border-collapse: collapse;
        height: 150px;
    }
    .k-tool-group {
        padding: 0 !important;
        vertical-align: top;
    }
    .k-editor-toolbar {
        background-color: #fff;
        li:first-child .k-dropdown-wrap {
            height: 100%;
        }
        li:first-child .k-dropdown-wrap.k-state-focused {
            background-color: #6e6e6e;
            border-color: #e6e6e6;
        }
        .k-tool {
            border: 0;
            width: auto;
            height: auto;
            min-width: 30px;
            line-height: 1;
            text-align: center;
        }
        a .k-tool-icon {
            display: inline-block;
            vertical-align: top;
            margin: 1px 0 0 1px;
        }
        a:hover {
            background-color: #787878;
        }
    }
    .k-editor-dropdown {
        display: inline-block;
        vertical-align: top;
        height: auto;
        margin-bottom: 5px;
        .k-input {
            padding: 1px 0;
            font-size: 14px;
        }
        .k-select {
            line-height: 24px;
        }
    }
    textarea.form-control {
        height: 150px;
    }
    table.k-editor-widget td.k-editable-area iframe.k-content {
        height: auto !important;
        display: block;
        vertical-align: top;
    }
    .k-editable-area {
        padding: 8px;
        vertical-align: top;
    }
    &.has-error .k-editor-toolbar .k-dropdown-wrap {
        border-color: #dadada !important;
    }
    &.has-error .k-editable-area {
        border-color: #ff4136;
    }
    .preview {
        width: auto;
        border: 1px solid #dadada !important;
        text-decoration: none;
        color: #787878;
        padding: 7px 10px;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
        height: auto;
        margin: 0;
        width: auto;
        background: #fff;
        &.k-state-hover,
        &:hover {
            background: #f2f2f2 !important;
        }
    }
}
