.schema-form-kendo-drop-down-list,
.schema-form-kendo-drop-down-list-grid-extended {
  @include border-box;
  .k-widget {
    display: block;
    width: 100%;
  }
  .k-dropdown-wrap {
    background: #fff;
    border: 1px solid #dadada;
    height: 30px;
    padding: 0 7px;
    font-size: 14px;
    outline: 0;
    line-height: normal;
    > .k-input {
      padding: 6px 20px 6px 0;
      height: auto;
      line-height: 1.2;
      text-indent: 0;
    }
    &.k-state-hover .k-input,
    &.k-state-focused .k-input,
    &.k-state-active .k-input {
      color: #787878;
    }
  }
}