<div class="form-engine demo-form">
    <div class="form-container">
        <form sf-schema="vm.schema"
              sf-form="vm.form"
              sf-model="vm.model"
              name="demoForm"
              id="demoForm"
              ng-submit="vm.onSubmit()"></form>
    </div>
    <div class="model-container">
        <h3>Model</h3>
        <pre ng-cloak>{{vm.pretty()}}</pre>
    </div>
</div>