<div ng-init="selected = { tab: 0 }" class="schema-form-tabs {{form.htmlClass}}" nsp-t>
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in form.tabs"
        ng-disabled="form.readonly"
        ng-click="$event.preventDefault() || (selected.tab = $index)"
        ng-class="{active: selected.tab === $index}">
        <a href="#">{{form.isTranslatedLabels ? tab.title : t(tab.title, tab.titleKey)}}</a>
    </li>
  </ul>

  <div class="tab-content {{form.fieldHtmlClass}}">
  </div>
</div>
