<div class="form-group schema-form-submit {{form.htmlClass}}" nsp-t ng-style="{'width': form.width + '%'}">
  <input type="submit"
         class="btn {{ form.style || 'btn-primary' }} {{form.fieldHtmlClass}}"
         value="{{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}"
         ng-disabled="form.readonly"
         ng-if="form.type === 'submit'">
  <button class="btn {{ form.style || 'btn-default' }}"
          type="button"
          ng-click="buttonClick($event,form)"
          ng-disabled="form.readonly"
          ng-if="form.type !== 'submit'">
      <span ng-if="form.icon" class="{{form.icon}}"></span>
      {{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}
  </button>
</div>
