.schema-form-ticket-description {
    @extend .schema-form-kendo-editor;
    .file-drop {
        float: right;
        margin: 5px 0 0;
        text-align: right;
        .btn-select {
            background: none;
            border: 0;
            padding: 0;
            color: #5994bb;
            outline: 0;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
        }
        .files {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 0;
                display: block;
                line-height: 1;
                margin-bottom: 5px;
            }
            li > span {
                display: inline-block;
                vertical-align: top;
                padding: 6px 8px;
                border-radius: 4px;
                background: #f2f2f2;
            }
        }
        .btn-remove {
            display: inline-block;
            vertical-align: top;
            background: none;
            border: 0;
            outline: 0;
            font-size: 15px;
            cursor: pointer;
            padding: 0;
            margin: -1px 0 -2px 2px;
        }
    }
}
