<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false, 'required': form.required, 'read-only': form.readonly}">
    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">
        {{form.isTranslatedLabels ? form.title : translate(form.title, form.titleKey)}}
    </label>

    <div fe-ticket-description
         fe-options="form"
         ng-model="$$value$$"
         ng-model-options="form.ngModelOptions"
         ng-disabled="form.readonly"
         sf-changed="form"
         id="{{form.key.slice(-1)[0]}}"
         class="form-control {{form.fieldHtmlClass}}"
         schema-validate="form"
         name="{{form.key.slice(-1)[0]}}">
    </div>

    <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : translate(form.description, form.descriptionKey)"></div>
</div>
