<fieldset ng-disabled="form.readonly" class="schema-form-fieldset {{form.htmlClass}}" nsp-t>
  <legend ng-class="{'sr-only': !showTitle() }">{{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}</legend>
  <div class="help-block" ng-show="form.description" ng-bind-html="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
  <sf-decorator ng-repeat="item in form.items" form="item"></sf-decorator>
</fieldset>
