<div sf-array="form"
     ng-model="$$value$$"
     class="form-group schema-form-checkboxes {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess(), 'required': form.required, 'read-only': form.readonly }"
     ng-style="{'width': form.width + '%'}"
     nsp-t>
  <label class="control-label {{form.labelHtmlClass}}"
         ng-show="showTitle()">{{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}</label>

  <div class="checkbox" ng-repeat="val in titleMapValues track by $index" >
    <label>
      <input type="checkbox"
             ng-disabled="form.readonly"
             sf-changed="form"
             class="{{form.fieldHtmlClass}}"
             ng-model="titleMapValues[$index]"
             name="{{form.key.slice(-1)[0]}}">
      <span ng-bind-html="form.isTranslatedLabels ? form.titleMap[$index].title : t(form.titleMap[$index].title, form.titleMap[$index].titleKey)"></span>
    </label>

  </div>
  <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
</div>
