.schema-form-kendo-date-picker,
.schema-form-kendo-time-picker,
.schema-form-kendo-date-time-picker {
    @include border-box;
    .k-widget {
        width: 100%;
    }
    .k-picker-wrap {
        border: 0;
        padding: 0;
    }
    input.form-control {
        padding-right: 30px;
    }
}

.schema-form-kendo-date-time-picker {
    input.form-control {
        padding-right: 60px;
    }
    .k-select {
        width: 3.2em;
    }
}