<div class="form-group {{form.htmlClass}}" ng-style="{'width': form.width + '%'}">
    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">
        {{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}
    </label>
	<div class="helpvalue {{form.htmlClass}}" fe-trust-as-html="form.helpvalue" encoded="form.encoded"></div>
</div>
