<div class="form-group schema-form-radios-inline {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'required': form.required, 'read-only': form.readonly }"
     ng-style="{'width': form.width + '%'}"
     nsp-t>
  <label class="control-label {{form.labelHtmlClass}}"
        ng-show="showTitle()">{{form.isTranslatedLabels ? form.title : t(form.title, form.titleKey)}}</label>
  <div>
      <label class="radio-inline" ng-repeat="item in form.titleMap" >
      <input type="radio"
             class="{{form.fieldHtmlClass}}"
             sf-changed="form"
             ng-disabled="form.readonly"
             sf-field-model
             ng-model="$$value$$"
             ng-value="item.value"
             name="{{form.key.join('.')}}">
      <span ng-bind-html="form.isTranslatedLabels ? form.item : t(form.item, form.item)"></span>
    </label>
  </div>
  <div class="help-block" sf-message="form.isTranslatedLabels ? form.description : t(form.description, form.descriptionKey)"></div>
</div>
