<div class="form-group btn-group schema-form-actions {{form.htmlClass}}" nsp-t>
  <input ng-repeat-start="item in form.items"
         type="submit"
         class="btn {{ item.style || 'btn-default' }} {{form.fieldHtmlClass}}"
         value="{{form.isTranslatedLabels ? item.title : t(item.title, item.titleKey)}}"
         ng-if="item.type === 'submit'"
         nsp-theme="{'background-color': theme.color, 'color': theme.reverseColor}">
  <button ng-repeat-end
          class="btn {{ item.style || 'btn-default' }} {{form.fieldHtmlClass}}"
          type="button"
          ng-disabled="form.readonly"
          ng-if="item.type !== 'submit'"
          ng-click="buttonClick($event,item)"><span ng-if="item.icon" class="{{item.icon}}"></span>{{form.isTranslatedLabels ? item.title : t(item.title, item.titleKey)}}</button>
</div>
